/.vs/BoxRay/v15/.suo
/.vs/BoxRay/v15/Server/sqlite3/db.lock
/.vs/BoxRay/v15/Server/sqlite3/storage.ide
/.vs/BoxRay/v15/Server/sqlite3/storage.ide-shm
/.vs/BoxRay/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/.vsconfig
/Library
/BoxRay.rar
/BoxRay.sln
/Assembly-CSharp.csproj
/Logs/AssetImportWorker0-prev.log
/Logs/AssetImportWorker0.log
/Logs/AssetImportWorker1-prev.log
/Logs/AssetImportWorker1.log
/Logs/AssetImportWorker2-prev.log
/Logs/AssetImportWorker3-prev.log
/Logs/Packages-Update.log
/Logs/shadercompiler-AssetImportWorker0.log
/Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Logs/shadercompiler-UnityShaderCompiler.exe1.log
/Logs/shadercompiler-UnityShaderCompiler.exe10.log
/Logs/shadercompiler-UnityShaderCompiler.exe11.log
/Logs/shadercompiler-UnityShaderCompiler.exe12.log
/Logs/shadercompiler-UnityShaderCompiler.exe13.log
/Logs/shadercompiler-UnityShaderCompiler.exe14.log
/Logs/shadercompiler-UnityShaderCompiler.exe15.log
/Logs/shadercompiler-UnityShaderCompiler.exe2.log
/Logs/shadercompiler-UnityShaderCompiler.exe3.log
/Logs/shadercompiler-UnityShaderCompiler.exe4.log
/Logs/shadercompiler-UnityShaderCompiler.exe5.log
/Logs/shadercompiler-UnityShaderCompiler.exe6.log
/Logs/shadercompiler-UnityShaderCompiler.exe7.log
/Logs/shadercompiler-UnityShaderCompiler.exe8.log
/Logs/shadercompiler-UnityShaderCompiler.exe9.log
/obj/Debug/Assembly-CSharp.csproj.CopyComplete
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
